<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="user-info">
                    <div class="info">
                        {% set default_user = 'images/default_user.jpg' %}
                        <a class="username" href="http://buzzfeed.com/{{ user_info.display_name }}">
                            <img src="{{ user_info.image|length > 0 ? user_info.image : default_user }}" /> {{ user_info.display_name }}</a><br>
                        <small>{{ friendly_date.fromNow() }}</small>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                {% if blurb or url %}
                    <div class="blurb">
                        {% if url %} <img src="http://www.buzzfeed.com/{{ url }}" />{% endif %}
                        {% if blurb %} {{ blurb }}{% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-11 col-sm-offset-1 children" data-comment-id="{{id}}"></div>
</div>