{% import 'macros.twig' as helpers %}
<div class="row">
    <div class="col-sm-12">
        <div class="well well-sm">
            <a class="username" href="http://buzzfeed.com/{{ user_info.display_name }}">{{ user_info.display_name }}</a>
            <span class="icon {{ form }}"></span>&nbsp;"{{ helpers.truncate(article_title, 25)|trim }}"&nbsp;<small>{{ friendly_date.fromNow() }}</small>
        </div>
    </div>
    <div class="col-sm-11 col-sm-offset-1 children" data-comment-id="{{id}}"></div>
</div>